.main-products-div {
    display: flex;
    /* border: 3px solid seagreen; */
    margin: 10px 10rem;
}

#filters-box {
    width: 40%;
    border: 3px solid black;
    text-align: center;
}

.products-view-box {
    width: 100%;
    /* border: 3px solid firebrick; */

}

.products-view-box>div>img {
    width: 100%;
}

.grid-products-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px 20px;
}

.child {
    padding: 10px;
}

.child>img {
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
    margin: auto;
    box-sizing: border-box;
    object-fit: cover;
}

.font-size-small-dark {
    color: rgb(26, 26, 26);
    font-size: 12px;
    margin: 5px 0px;
}

.font-size-small {
    color: rgb(82, 82, 82);
    font-size: 12px;
    margin: 5px 0px;
}

.flex-inside-child-div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.child {
    background-color: rgb(235, 235, 235);
}


/* Medium Screens */

@media all and (min-width: 768px) and (max-width: 1155px) {
    .main-products-div {
        display: flex;
        /* background-color: red; */
        border: 2px solid rgb(83, 83, 83);
        margin: 10px 1rem;
    }
}

@media all and (min-width:768px) and (max-width:1024px) {
    .main-products-div {
        display: flex;
        /* background-color: red; */
        /* border: 6px solid rgb(63, 63, 63); */
        margin: 10px 2rem;
    }

    .grid-products-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 20px 20px;
    }
}

/* Small Screens */

@media all and (min-width:250px) and (max-width:767px) {
    .main-products-div {
        position: relative;
        top: 3vh;
        display: flex;
        /* background-color: red; */
        border: 6px solid seagreen;
        margin: 10px 10px;
    }

    .grid-products-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 20px 20px;
    }

}